body {
font-family: "Nunito", sans-serif;
display: flex;
flex-direction: column;
align-items: center;
margin: 0px;
padding: 0px;
}

.content {
width: 100%;
display: flex;
flex-direction: column;
align-items: center;
}

.logo {
    width: 250px;
}

.mainheader {
    font-size: 36px;
text-align: center;
color: #5C7B43;
}

.SideTabHolder {
width: 100%;
}

@media screen and (max-width: 480px) {
      
    .SideTabHolder {  
      margin-top: -50px;
     
  
    }
  }


.SideTab {
    display: flex;
    flex-direction: column;
   justify-content: center;
    background-color: #FD9042;
    width: 250px;
    height: 60px;
    color: white;
    border-radius: 0px 50px 50px 0px;
}



@media screen and (max-width: 1024px)  {
    .SideTab  {
       height: 60px;
       width: 250px;
       
       
    }
  }

@media screen and (max-width: 768px) {
    
    .SideTab {  height: 60px;
  
    }
  }
  @media screen and (max-width: 480px) {
      
      .SideTab {  
        margin-top: 50px;
        height: 60px;
        width: 60vw;
    
      }
    }

h2 {
    font-size: 22px;
    text-align: center;
}

.team {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}



.member {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.headshot {
    
margin-left: 20px;
margin-right: 20px;
width: 15vw;
border-radius: 50%;
margin-top: 40px;
}

@media screen and (max-width: 1024px)  {
    .headshot {
        width: 25vw;
       
    }
  }

  @media screen and (max-width: 768px) {
    
    .headshot { width: 28vw;
  
    }
  }
  @media screen and (max-width: 480px) {
      
      .headshot { width: 50vw;
    
      }
    }



.personname {
    color: #5C7B43;
    text-align: center;
    font-size: 20px;
    margin-bottom: 5px;
}

.roles {
    font-size: 14px;
    margin: 0px;
    text-align: center;
}

.footer {
background-color: #5C7B43;
width: 100%;
height: 50px;
margin-top: 30px;
color: white;
display: flex;
flex-direction: column;
justify-content: center;

}

.footertext {
width: 100%;
text-align: center;
}